header{
  background-color: rgb(15, 15, 15);
  display: flex;
  height: 30px;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.menu-icon {
  filter: brightness(0) invert(1);
}
button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.create-button-background{
  background-color: rgb(15, 15, 15);
}
.header-left{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-middle{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  max-width: 700px;
}

.header-right{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-input{
  background: rgb(15, 15, 15);
  width: 500px;
  height: 30px;
  border-color: silver;
  border-width: 0.5px;
  color: white;
}
.spy-logo{
  height: 30px;
}
.profile-pic{
  height: 30px;
}
.sticky-header{
  position: sticky;
  top:0;
}