.main-grid{
   margin: 0;
   padding: 24px 16px 0;
   background-color: var(--bg-dark);
   color: var(--text-white);
   height: auto;
   min-width: 0;
   grid-area: m;
}

.thumbnail-grid{
   display: grid;
   grid-template-columns: 42px 1fr 24px;
   padding: 1rem 0 0 0;
   min-width: 0;
   gap: 1rem;
}

.text-info{
   display: flex;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
   
}

.thumbnail-icon {
    width: 36px;
    height: 36px;
    border-radius: 50% !important;
    
    
}

.video-card-author {
    color: #aaaaaa;
    font-size: 14px;
    margin: 0;
}

.video-card-stats {
    color: #aaaaaa;
    font-size: 14px;
    margin: 0;
}

.video-card-stats-dot {
    color: #aaaaaa;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}