:root {
  --bg-dark: hsl(0, 0%, 6%);
  --text-white: hsl(0, 0%, 100%);
t}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
    background-color: var(--bg-dark);
    color: var(--text-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "h"
      "m"
      "m";
}
button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.sidebar{
  display: none;
}